@import '~font-awesome/css/font-awesome.css';

.App-header {
    background-color: #222;
    height: 40px;
    padding: 20px;
    color: white;
}
.root {
    flexGrow: 1;
}
.flex {
    text-align: left;
    flex: 1;
}
.menuButton {
    margin-left: -12px;
    margin-right: 20px;
}
